body {
  background-color: #f1a3fd;

  font-family: sans-serif;
}

.container {
  background-color: rgb(25, 168, 224);
  max-width: 550px;
  border: solid 2px;
  border-radius: 15px;
  border-color: rgb(181, 131, 178);
  margin: 60px auto;
  padding: 30px;
  box-shadow: 5px 10px 23px -7px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 5px 10px 23px -7px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 5px 10px 23px -7px rgba(0, 0, 0, 0.48);
}
.title {
  text-align: center;
}
.time {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 600;
  vertical-align: middle;
  line-height: 48px;
  color: rgb(243, 224, 249);
}

select {
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
}

.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(238, 197, 211);
  padding: 10px;
}

.city:last-child {
  border: none;
}
h2 {
  font-size: 30px;
  color: #f0d2f5;
}
.date {
  color: black;
  opacity: 0.5;
}
